.welcome__wrapper {
  --padding: 26px;
  --v-margin: 0px;
  --font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: var(--font-size);
  line-height: 1.4;
  max-width: 640px;
}

.welcome__header > *:not(:first-child) {
  padding: var(--padding) 0;
}

.welcome__logo {
  max-width: 100%;
}

.welcome__wrapper h1 {
  font-size: 160%;
}

.welcome__wrapper h2 {
  font-size: 120%;
}

.welcome__wrapper > *:not(.welcome__children):not(pre) {
  padding: var(--padding) 0;
}

.welcome__wrapper > *:not(:first-child) {
  margin: var(--v-margin) 0;
}

.welcome__wrapper > pre {
  padding: var(--padding);
}

.welcome__children {
  overflow: hidden;
}

.welcome__boxed {
  background: #efefef;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .welcome__wrapper {
    --padding: 8px;
    --v-margin: 10px;
    --font-size: 12px;
  }
  .welcome__logo {
    width: 240px;
  }
}